body {
	margin: 0;
	font-family: 'system-ui';
	-webkit-font-smoothing: antialiased;
	background-color: rgb(49, 59, 70);
}

main {
	width: 210mm;
	height: 270mm;
	border: 1px solid black;
	filter: drop-shadow(4px 4px 4px rgb(11, 13, 15));
	background-color: white;
	margin: auto;
	margin-top: 3em;
}

.page-body {
	padding: 1.5em;
}

/* Colours */
.grey {
	color: rgb(88, 104, 104);
}

.green {
	color: rgb(0, 65, 40);
}

/* Text */
.title1 {
    font-size: 2.2em;
    font-weight: 130;
	letter-spacing: 0.1em;
}

.title2 {
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: -0.3em;
	letter-spacing: 0.1em;
}

a {
	color: rgb(0, 65, 40);
}

.title3 {
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0.075em;
}

.title4 {
	font-weight: 600;
	font-size: 1em;
}

.hr-thick {
	border: 0;
	border-top: 2px solid rgb(0, 65, 40);
	margin-top: 2px;
	margin-right: 15%;
}

.hr-thin {
	border: 0;
	border-top: 1px solid rgb(88, 104, 104);
	margin: 0.75em 1.5em;
}

/* Formatting */
.float-right {
	float: right;
}

.two-thirds {
	margin-right: 20%;
}

/* Components */
.experience-wrapper {
	margin-top: 0.5em;
	display: grid;
	grid-template-columns: 1em 1fr;
}

.experience {
	font-size: 0.8em;
}

.bullet {
	font-size: 0.75em;
}

.dates {
	font-size: 0.75em;
	font-weight: bold;
}
