body {
	margin: 0;
	font-family: 'system-ui';
	-webkit-font-smoothing: antialiased;
	background-color: rgb(49, 59, 70);
}

.title1 {
    font-size: 2.2em;
    font-weight: 130;
	letter-spacing: 0.1em;
}

.title2 {
    font-size: 1.5em;
    font-weight: lighter;
    margin-top: -0.3em;
	letter-spacing: 0.1em;
}

.title3 {
	font-size: 1.2em;
	font-weight: 600;
	letter-spacing: 0.075em;
}

.title4 {
	font-weight: 600;
	font-size: 1em;
}

.hr-thick {
	border: 0;
	border-top: 2px solid rgb(0, 65, 40);
	margin-top: 2px;
	margin-right: 15%;
}

.hr-thin {
	border: 0;
	border-top: 1px solid rgb(88, 104, 104);
	margin: 0.75em 1.5em;
}

.grey {
	color: rgb(88, 104, 104);
}

.green {
	color: rgb(0, 65, 40);
}

a {
	color: rgb(0, 65, 40);
}

.dates {
	font-size: 0.75em;
	font-weight: bold;
}

.float-right {
	float: right;
}
