/* Jet Brains Mono */
@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-Thin.ttf");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-ThinItalic.ttf");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraLightItalic.ttf");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-LightItalic.ttf");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-Italic.ttf");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-MediumItalic.ttf");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-SemiBold.ttf");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-SemiBoldItalic.ttf");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-BoldItalic.ttf");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraBold.ttf");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("/assets/fonts/JetBrains_Mono/JetBrainsMono-ExtraBoldItalic.ttf");
    font-weight: 800;
    font-style: italic;
}

/* Inconsolata */
@font-face {
    font-family: "Inconsolata";
    src: url("/assets/fonts/Inconsolata/Inconsolata-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Inconsolata";
    src: url("/assets/fonts/Inconsolata/Inconsolata-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Inconsolata";
    src: url("/assets/fonts/Inconsolata/Inconsolata-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Inconsolata";
    src: url("/assets/fonts/Inconsolata/Inconsolata-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

/* Roboto */
    @font-face {
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-Thin.ttf");
        font-weight: 100;
        font-style: normal;
    }


    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-Light.ttf");
        font-weight: 300;
        font-style: normal;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-Regular.ttf");
        font-weight: 400;
        font-style: normal;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-Medium.ttf");
        font-weight: 500;
        font-style: normal;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-Bold.ttf");
        font-weight: 700;
        font-style: normal;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-Black.ttf");
        font-weight: 900;
        font-style: normal;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-ThinItalic.ttf");
        font-weight: 100;
        font-style: italic;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-LightItalic.ttf");
        font-weight: 300;
        font-style: italic;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-Italic.ttf");
        font-weight: 400;
        font-style: italic;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-MediumItalic.ttf");
        font-weight: 500;
        font-style: italic;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-BoldItalic.ttf");
        font-weight: 700;
        font-style: italic;
    }

    @font-face{
        font-family: "Roboto";
        src: url("/assets/fonts/Roboto/Roboto-BlackItalic.ttf");
        font-weight: 900;
        font-style: italic;
    }
